<h2>Available Rooms</h2>

<div style="display: flex; flex-wrap: wrap;">
  
  <div style="margin: 10px; text-align: center;">
    <app-roomcard></app-roomcard> <h3>{{ room1Type }}</h3>
    <p>Price: ₹{{ room1Price }}</p>
    <p>Available: {{ room1Count }}</p>
    <button (click)="bookRoom1()">Book Now</button>
  </div>

  <div style="margin: 10px; text-align: center;">
    <app-roomcard></app-roomcard>
    <h3>{{ room2Type }}</h3>
    <p>Price: ₹{{ room2Price }}</p>
    <p>Available: {{ room2Count }}</p>
    <button>Book Now</button>
  </div>

</div>